apiVersion: v1
kind: Secret
metadata:
  name: {{ include "teams-backend.fullname" . }}
  labels:
    {{- include "teams-backend.labels" . | nindent 4 }}
type: Opaque
stringData:
  TEAMS_BACKEND_OAUTH_CLIENT_SECRET: {{ .Values.oauth.clientSecret | default "" | quote }}
  TEAMS_BACKEND_STATIC_SERVICE_ACCOUNTS: {{ .Values.staticServiceAccounts | default "" | quote }}
  TEAMS_BACKEND_NAIS_DEPLOY_PROVISION_KEY: {{ .Values.naisDeploy.provisionKey | default "" | quote }}
  TEAMS_BACKEND_DEPENDENCYTRACK_PASSWORD: {{ .Values.dependencytrack.password | default "" | quote }}
