# GitHub reconciler
CONSOLE_GITHUB_ORGANIZATION=string
CONSOLE_GITHUB_APP_ID=integer
CONSOLE_GITHUB_APP_INSTALLATION_ID=integer
CONSOLE_GITHUB_PRIVATE_KEY_PATH=filename

# Azure reconciler
CONSOLE_AZURE_CLIENT_ID=string
CONSOLE_AZURE_CLIENT_SECRET=string
CONSOLE_AZURE_TENANT_ID=string

# Google workspace reconciler
CONSOLE_GOOGLE_DELEGATED_USER=email
CONSOLE_GOOGLE_CREDENTIALS_FILE=filename

# GCP reconciler
CONSOLE_GCP_PROJECT_PARENT_IDS=prod:folder/357,dev:folder/864

# Synchronize Google users to local database
CONSOLE_USERSYNC_ENABLED=false

# Enable single sign-on using OAuth2
CONSOLE_OAUTH_CLIENT_ID=string
CONSOLE_OAUTH_CLIENT_SECRET=string
CONSOLE_OAUTH_REDIRECT_URL=string

# Enable nais namespace reconciler
CONSOLE_NAIS_NAMESPACE_TOPIC_PREFIX=string
CONSOLE_NAIS_NAMESPACE_PROJECT_ID=string

# Misc
CONSOLE_TENANT_DOMAIN=nav.no
CONSOLE_AUTO_LOGIN_USER=string # This configuration value MUST NOT be used in production
CONSOLE_FRONTEND_URL=http://localhost:3001
CONSOLE_DATABASE_URL=postgres://console:console@localhost:5432/console?sslmode=disable
CONSOLE_LISTEN_ADDRESS=127.0.0.1:3000
CONSOLE_LOG_FORMAT=text
CONSOLE_LOG_LEVEL=DEBUG