# GitHub reconciler
CONSOLE_GITHUB_ENABLED=false
CONSOLE_GITHUB_ORGANIZATION=string
CONSOLE_GITHUB_APP_ID=integer
CONSOLE_GITHUB_APP_INSTALLATION_ID=integer
CONSOLE_GITHUB_PRIVATE_KEY_PATH=filename

# Azure reconciler
CONSOLE_AZURE_ENABLED=false
CONSOLE_AZURE_CLIENT_ID=string
CONSOLE_AZURE_CLIENT_SECRET=string
CONSOLE_AZURE_TENANT_ID=string

# Google group reconciler
CONSOLE_GOOGLE_ENABLED=false
CONSOLE_GOOGLE_DELEGATED_USER=email
CONSOLE_GOOGLE_DOMAIN=domain
CONSOLE_GOOGLE_CREDENTIALS_FILE=filename

# GCP reconciler
CONSOLE_GCP_ENABLED=false
CONSOLE_GCP_PROJECT_PARENT_IDS=prod:folder/357,dev:folder/864

# Synchronize Google users to local database
CONSOLE_USERSYNC_ENABLED=false

# Enable single sign-on using OAuth2
CONSOLE_OAUTH_CLIENT_ID=string
CONSOLE_OAUTH_CLIENT_SECRET=string
CONSOLE_OAUTH_REDIRECT_URL=string

# Enable nais namespace reconciler
CONSOLE_NAIS_NAMESPACE_ENABLED=false
CONSOLE_NAIS_NAMESPACE_TOPIC_PREFIX=string
CONSOLE_NAIS_NAMESPACE_PROJECT_ID=string