# GitHub reconciler
CONSOLE_GITHUB_ENABLED=false
CONSOLE_GITHUB_ORGANIZATION=string
CONSOLE_GITHUB_APP_ID=integer
CONSOLE_GITHUB_APP_INSTALLATION_ID=integer
CONSOLE_GITHUB_PRIVATE_KEY_PATH=filename

# Google group reconciler
CONSOLE_GOOGLE_ENABLED=false
CONSOLE_GOOGLE_CREDENTIALS_FILE=filename
CONSOLE_GOOGLE_DELEGATED_USER=email
CONSOLE_GOOGLE_DOMAIN=domain

# Synchronize Google users to local database
CONSOLE_USERSYNC_ENABLED=false
CONSOLE_USERSYNC_CREDENTIALS_FILE=filename
CONSOLE_USERSYNC_DELEGATED_USER=email
CONSOLE_USERSYNC_DOMAIN=domain

# Enable single sign-on using OAuth2
CONSOLE_OAUTH_CLIENT_ID=string
CONSOLE_OAUTH_CLIENT_SECRET=string
CONSOLE_OAUTH_REDIRECT_URL=string
